@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  background-color: #212f3d;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 50px;
}

h1,
h2 {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.front {
  color: #a3e4d7;
}

.back {
  margin: .07em;
  z-index: -1;
  color: #117a65;
}

p {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #445361;
}

a {
  color: #117a65;
  text-decoration: none;
}

a:hover {
  color: #a3e4d7;
}

.badge {
  position: absolute;
  bottom: 2px;
  right: 10px;
}